:root {
  --primary-color: #462e2e;
  --secondary-color: #5f4e4e;
  --dark-gray: #e1e1e1;
  --white: #fff;
  --black: #000;
  --main-font: "Sawarabi Gothic", sans-serif;
  --titles-font: "News Cycle", sans-serif;
  /* Fuente de dos tamaños (400 y 700) */
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--main-font);
  font-size: 1.6rem;
  line-height: 2;
}

/* Global */
.container {
  max-width: 120rem;
  width: 90%;
  /* or 
  min(90%,120rem)
  */
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--titles-font);
}

h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.8rem;
}

img {
  max-width: 100%;
}

/* Utilities */
.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

/* Header */
.webp .header {
  background-image: url(../img/banner.webp);
}
.no-webp .header {
  background-image: url(../img/banner.jpg);
}
.header {
  height: 60rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.header__text {
  color: var(--white);
  margin-top: 5rem;
}

@media (min-width: 768px) {
  .header__text {
    margin-top: 15rem;
  }
}

@media (min-width: 768px) {
  .bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  color: var(--white);
}

.logo__name {
  font-weight: 400;
}

.logo__bold {
  font-weight: 700;
}

/* Forma 1 
.navegation {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navegation__link {
    color: var(--white);
}

@media (min-width: 768px) {
    .navegation {
        flex-direction: row;
        gap: 2rem;
    }
}
*/
@media (min-width: 768px) {
  .navegation {
    display: flex;
    gap: 2rem;
  }
}

.navegation__link {
  display: block;
  text-align: center;
  color: var(--white);
}

/* Posts */
@media (min-width: 768px) {
  .main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
  }
}

.blog-post {
  border-bottom: 1px solid var(--dark-gray);
  margin-bottom: 2rem;
}

.blog-post:last-of-type {
  border: none;
  margin-bottom: 0;
}

.button {
  display: block;
  font-family: var(--titles-font);
  color: var(--white);
  text-align: center;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  border: none;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.button:hover {
  cursor: pointer;
  background-color: var(--dark-gray);
  color: var(--black);
}

@media (min-width: 768px) {
  .button {
    display: inline-block;
  }
}

.primary--button {
  background-color: var(--black);
}

.secondary--button {
  background-color: var(--primary-color);
}

/* Aside */
/* Another op 
.mini-aside {
    border-top: 1px solid var(--secondary-color);
}
.mini-aside:first-of-type {
    border: none;
}
*/
.courses {
  list-style: none;
}

.widget-course {
  border-bottom: 1px solid var(--dark-gray);
  margin-bottom: 2rem;
}

.widget-course:last-of-type {
  border: none;
  margin-bottom: 0;
}

.widget-course__label,
.course__label {
  font-weight: 700;
}

.widget-course__info,
.course__info {
  font-weight: 400;
}

/* Footer */
.footer {
  background-color: var(--black);
  padding: 2rem;
  margin-top: 3.5rem;
}
.footer__bar {
  display: flex;
  flex-direction: column-reverse;
}

.footer--nav {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--white);
}

@media (min-width: 768px) {
  .footer__bar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer--nav {
    border: none;
  }
}

/* Nosotros page */
@media (min-width: 1120px) {
  .about-us {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    text-align: left;
  }
}

/* Courses */
.course {
  border-bottom: 1px solid var(--dark-gray);
  margin-bottom: 2rem;
}
.course:last-of-type {
  border: none;
}

@media (min-width: 768px) {
  .course {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
    padding: 2rem 0;
    text-align: left;
  }
}

/* Contact */
.webp .contact-bg {
  background-image: url(../img/contacto.webp);
}
.no-webp .contact-bg {
  background-image: url(../img/contacto.jpg);
}
.contact-bg {
  height: 40rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.form {
  background-color: var(--white);
  margin: -15rem auto 0 auto;
  width: 75%;
  padding: 2rem;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 1rem;
  line-height: 1;
}

.field__input {
  flex: 1;
  border: 1px solid var(--dark-gray);
}

.field__input--text-area {
  height: 15rem;
}

.form__button {
  display: flex;
  width: 100%;
  justify-content: end;
}

@media (min-width: 768px) {
  .field {
    line-height: 2;
    flex-direction: row;
  }

  .field__label {
    flex: 0 0 9rem;
    text-align: right;
  }

  .w-100 {
    width: auto;
  }
}
 /*
.field {
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;
}
.field__label {
  flex: 0 0 9rem;
  text-align: right;
}
.field__input {
  flex: 1;
  border: 1px solid var(--dark-gray);
}
.field__input--text-area {
  height: 15rem;
}

.form__button {
  display: flex;
  width: 100%;
  justify-content: end;
}
 */